<?php
/**
 * ComponentsApi
 * PHP version 5
 *
 * @category Class
 * @package  Optimacros\NexusPhpApi
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Nexus Repository Manager REST API
 *
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.43.0-01
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.29
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Optimacros\NexusPhpApi\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Optimacros\NexusPhpApi\ApiException;
use Optimacros\NexusPhpApi\Configuration;
use Optimacros\NexusPhpApi\HeaderSelector;
use Optimacros\NexusPhpApi\ObjectSerializer;

/**
 * ComponentsApi Class Doc Comment
 *
 * @category Class
 * @package  Optimacros\NexusPhpApi
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ComponentsApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     */
    public function __construct(
        ClientInterface $client = null,
        Configuration $config = null,
        HeaderSelector $selector = null
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: new Configuration();
        $this->headerSelector = $selector ?: new HeaderSelector();
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation deleteComponent
     *
     * Delete a single component
     *
     * @param  string $id ID of the component to delete (required)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function deleteComponent($id)
    {
        $this->deleteComponentWithHttpInfo($id);
    }

    /**
     * Operation deleteComponentWithHttpInfo
     *
     * Delete a single component
     *
     * @param  string $id ID of the component to delete (required)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteComponentWithHttpInfo($id)
    {
        $returnType = '';
        $request = $this->deleteComponentRequest($id);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation deleteComponentAsync
     *
     * Delete a single component
     *
     * @param  string $id ID of the component to delete (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteComponentAsync($id)
    {
        return $this->deleteComponentAsyncWithHttpInfo($id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation deleteComponentAsyncWithHttpInfo
     *
     * Delete a single component
     *
     * @param  string $id ID of the component to delete (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function deleteComponentAsyncWithHttpInfo($id)
    {
        $returnType = '';
        $request = $this->deleteComponentRequest($id);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'deleteComponent'
     *
     * @param  string $id ID of the component to delete (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function deleteComponentRequest($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling deleteComponent'
            );
        }

        $resourcePath = '/v1/components/{id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            
            if($headers['Content-Type'] === 'application/json') {
                // \stdClass has no __toString(), so we should encode it manually
                if ($httpBody instanceof \stdClass) {
                    $httpBody = \GuzzleHttp\json_encode($httpBody);
                }
                // array has no __toString(), so we should encode it manually
                if(is_array($httpBody)) {
                    $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($httpBody));
                }
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\Query::build($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\Query::build($queryParams);
        return new Request(
            'DELETE',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getComponentById
     *
     * Get a single component
     *
     * @param  string $id ID of the component to retrieve (required)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Optimacros\NexusPhpApi\Model\ComponentXO
     */
    public function getComponentById($id)
    {
        list($response) = $this->getComponentByIdWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getComponentByIdWithHttpInfo
     *
     * Get a single component
     *
     * @param  string $id ID of the component to retrieve (required)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Optimacros\NexusPhpApi\Model\ComponentXO, HTTP status code, HTTP response headers (array of strings)
     */
    public function getComponentByIdWithHttpInfo($id)
    {
        $returnType = '\Optimacros\NexusPhpApi\Model\ComponentXO';
        $request = $this->getComponentByIdRequest($id);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Optimacros\NexusPhpApi\Model\ComponentXO',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getComponentByIdAsync
     *
     * Get a single component
     *
     * @param  string $id ID of the component to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getComponentByIdAsync($id)
    {
        return $this->getComponentByIdAsyncWithHttpInfo($id)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getComponentByIdAsyncWithHttpInfo
     *
     * Get a single component
     *
     * @param  string $id ID of the component to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getComponentByIdAsyncWithHttpInfo($id)
    {
        $returnType = '\Optimacros\NexusPhpApi\Model\ComponentXO';
        $request = $this->getComponentByIdRequest($id);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getComponentById'
     *
     * @param  string $id ID of the component to retrieve (required)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getComponentByIdRequest($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null || (is_array($id) && count($id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $id when calling getComponentById'
            );
        }

        $resourcePath = '/v1/components/{id}';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                '{' . 'id' . '}',
                ObjectSerializer::toPathValue($id),
                $resourcePath
            );
        }

        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            
            if($headers['Content-Type'] === 'application/json') {
                // \stdClass has no __toString(), so we should encode it manually
                if ($httpBody instanceof \stdClass) {
                    $httpBody = \GuzzleHttp\json_encode($httpBody);
                }
                // array has no __toString(), so we should encode it manually
                if(is_array($httpBody)) {
                    $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($httpBody));
                }
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\Query::build($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation getComponents
     *
     * List components
     *
     * @param  string $repository Repository from which you would like to retrieve components (required)
     * @param  string $continuationToken A token returned by a prior request. If present, the next page of results are returned (optional)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return \Optimacros\NexusPhpApi\Model\PageComponentXO
     */
    public function getComponents($repository, $continuationToken = null)
    {
        list($response) = $this->getComponentsWithHttpInfo($repository, $continuationToken);
        return $response;
    }

    /**
     * Operation getComponentsWithHttpInfo
     *
     * List components
     *
     * @param  string $repository Repository from which you would like to retrieve components (required)
     * @param  string $continuationToken A token returned by a prior request. If present, the next page of results are returned (optional)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of \Optimacros\NexusPhpApi\Model\PageComponentXO, HTTP status code, HTTP response headers (array of strings)
     */
    public function getComponentsWithHttpInfo($repository, $continuationToken = null)
    {
        $returnType = '\Optimacros\NexusPhpApi\Model\PageComponentXO';
        $request = $this->getComponentsRequest($repository, $continuationToken);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            $responseBody = $response->getBody();
            if ($returnType === '\SplFileObject') {
                $content = $responseBody; //stream goes to serializer
            } else {
                $content = $responseBody->getContents();
                if ($returnType !== 'string') {
                    $content = json_decode($content);
                }
            }

            return [
                ObjectSerializer::deserialize($content, $returnType, []),
                $response->getStatusCode(),
                $response->getHeaders()
            ];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = ObjectSerializer::deserialize(
                        $e->getResponseBody(),
                        '\Optimacros\NexusPhpApi\Model\PageComponentXO',
                        $e->getResponseHeaders()
                    );
                    $e->setResponseObject($data);
                    break;
            }
            throw $e;
        }
    }

    /**
     * Operation getComponentsAsync
     *
     * List components
     *
     * @param  string $repository Repository from which you would like to retrieve components (required)
     * @param  string $continuationToken A token returned by a prior request. If present, the next page of results are returned (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getComponentsAsync($repository, $continuationToken = null)
    {
        return $this->getComponentsAsyncWithHttpInfo($repository, $continuationToken)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation getComponentsAsyncWithHttpInfo
     *
     * List components
     *
     * @param  string $repository Repository from which you would like to retrieve components (required)
     * @param  string $continuationToken A token returned by a prior request. If present, the next page of results are returned (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function getComponentsAsyncWithHttpInfo($repository, $continuationToken = null)
    {
        $returnType = '\Optimacros\NexusPhpApi\Model\PageComponentXO';
        $request = $this->getComponentsRequest($repository, $continuationToken);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    $responseBody = $response->getBody();
                    if ($returnType === '\SplFileObject') {
                        $content = $responseBody; //stream goes to serializer
                    } else {
                        $content = $responseBody->getContents();
                        if ($returnType !== 'string') {
                            $content = json_decode($content);
                        }
                    }

                    return [
                        ObjectSerializer::deserialize($content, $returnType, []),
                        $response->getStatusCode(),
                        $response->getHeaders()
                    ];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'getComponents'
     *
     * @param  string $repository Repository from which you would like to retrieve components (required)
     * @param  string $continuationToken A token returned by a prior request. If present, the next page of results are returned (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function getComponentsRequest($repository, $continuationToken = null)
    {
        // verify the required parameter 'repository' is set
        if ($repository === null || (is_array($repository) && count($repository) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $repository when calling getComponents'
            );
        }

        $resourcePath = '/v1/components';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($continuationToken !== null) {
            $queryParams['continuationToken'] = ObjectSerializer::toQueryValue($continuationToken);
        }
        // query params
        if ($repository !== null) {
            $queryParams['repository'] = ObjectSerializer::toQueryValue($repository);
        }


        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['application/json']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            
            if($headers['Content-Type'] === 'application/json') {
                // \stdClass has no __toString(), so we should encode it manually
                if ($httpBody instanceof \stdClass) {
                    $httpBody = \GuzzleHttp\json_encode($httpBody);
                }
                // array has no __toString(), so we should encode it manually
                if(is_array($httpBody)) {
                    $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($httpBody));
                }
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\Query::build($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\Query::build($queryParams);
        return new Request(
            'GET',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Operation uploadComponent
     *
     * Upload a single component
     *
     * @param  string $repository Name of the repository to which you would like to upload the component (required)
     * @param  \SplFileObject $rAsset r Asset (optional)
     * @param  string $rAssetPathId r Asset  Package Path (optional)
     * @param  \SplFileObject $pypiAsset pypi Asset (optional)
     * @param  \SplFileObject $helmAsset helm Asset (optional)
     * @param  string $yumDirectory yum Directory (optional)
     * @param  \SplFileObject $yumAsset yum Asset (optional)
     * @param  string $yumAssetFilename yum Asset  Filename (optional)
     * @param  \SplFileObject $dockerAsset docker Asset (optional)
     * @param  \SplFileObject $rubygemsAsset rubygems Asset (optional)
     * @param  \SplFileObject $nugetAsset nuget Asset (optional)
     * @param  \SplFileObject $npmAsset npm Asset (optional)
     * @param  string $rawDirectory raw Directory (optional)
     * @param  \SplFileObject $rawAsset1 raw Asset 1 (optional)
     * @param  string $rawAsset1Filename raw Asset 1 Filename (optional)
     * @param  \SplFileObject $rawAsset2 raw Asset 2 (optional)
     * @param  string $rawAsset2Filename raw Asset 2 Filename (optional)
     * @param  \SplFileObject $rawAsset3 raw Asset 3 (optional)
     * @param  string $rawAsset3Filename raw Asset 3 Filename (optional)
     * @param  \SplFileObject $aptAsset apt Asset (optional)
     * @param  string $maven2GroupId maven2 Group ID (optional)
     * @param  string $maven2ArtifactId maven2 Artifact ID (optional)
     * @param  string $maven2Version maven2 Version (optional)
     * @param  bool $maven2GeneratePom maven2 Generate a POM file with these coordinates (optional)
     * @param  string $maven2Packaging maven2 Packaging (optional)
     * @param  \SplFileObject $maven2Asset1 maven2 Asset 1 (optional)
     * @param  string $maven2Asset1Classifier maven2 Asset 1 Classifier (optional)
     * @param  string $maven2Asset1Extension maven2 Asset 1 Extension (optional)
     * @param  \SplFileObject $maven2Asset2 maven2 Asset 2 (optional)
     * @param  string $maven2Asset2Classifier maven2 Asset 2 Classifier (optional)
     * @param  string $maven2Asset2Extension maven2 Asset 2 Extension (optional)
     * @param  \SplFileObject $maven2Asset3 maven2 Asset 3 (optional)
     * @param  string $maven2Asset3Classifier maven2 Asset 3 Classifier (optional)
     * @param  string $maven2Asset3Extension maven2 Asset 3 Extension (optional)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return void
     */
    public function uploadComponent($repository, $rAsset = null, $rAssetPathId = null, $pypiAsset = null, $helmAsset = null, $yumDirectory = null, $yumAsset = null, $yumAssetFilename = null, $dockerAsset = null, $rubygemsAsset = null, $nugetAsset = null, $npmAsset = null, $rawDirectory = null, $rawAsset1 = null, $rawAsset1Filename = null, $rawAsset2 = null, $rawAsset2Filename = null, $rawAsset3 = null, $rawAsset3Filename = null, $aptAsset = null, $maven2GroupId = null, $maven2ArtifactId = null, $maven2Version = null, $maven2GeneratePom = null, $maven2Packaging = null, $maven2Asset1 = null, $maven2Asset1Classifier = null, $maven2Asset1Extension = null, $maven2Asset2 = null, $maven2Asset2Classifier = null, $maven2Asset2Extension = null, $maven2Asset3 = null, $maven2Asset3Classifier = null, $maven2Asset3Extension = null)
    {
        $this->uploadComponentWithHttpInfo($repository, $rAsset, $rAssetPathId, $pypiAsset, $helmAsset, $yumDirectory, $yumAsset, $yumAssetFilename, $dockerAsset, $rubygemsAsset, $nugetAsset, $npmAsset, $rawDirectory, $rawAsset1, $rawAsset1Filename, $rawAsset2, $rawAsset2Filename, $rawAsset3, $rawAsset3Filename, $aptAsset, $maven2GroupId, $maven2ArtifactId, $maven2Version, $maven2GeneratePom, $maven2Packaging, $maven2Asset1, $maven2Asset1Classifier, $maven2Asset1Extension, $maven2Asset2, $maven2Asset2Classifier, $maven2Asset2Extension, $maven2Asset3, $maven2Asset3Classifier, $maven2Asset3Extension);
    }

    /**
     * Operation uploadComponentWithHttpInfo
     *
     * Upload a single component
     *
     * @param  string $repository Name of the repository to which you would like to upload the component (required)
     * @param  \SplFileObject $rAsset r Asset (optional)
     * @param  string $rAssetPathId r Asset  Package Path (optional)
     * @param  \SplFileObject $pypiAsset pypi Asset (optional)
     * @param  \SplFileObject $helmAsset helm Asset (optional)
     * @param  string $yumDirectory yum Directory (optional)
     * @param  \SplFileObject $yumAsset yum Asset (optional)
     * @param  string $yumAssetFilename yum Asset  Filename (optional)
     * @param  \SplFileObject $dockerAsset docker Asset (optional)
     * @param  \SplFileObject $rubygemsAsset rubygems Asset (optional)
     * @param  \SplFileObject $nugetAsset nuget Asset (optional)
     * @param  \SplFileObject $npmAsset npm Asset (optional)
     * @param  string $rawDirectory raw Directory (optional)
     * @param  \SplFileObject $rawAsset1 raw Asset 1 (optional)
     * @param  string $rawAsset1Filename raw Asset 1 Filename (optional)
     * @param  \SplFileObject $rawAsset2 raw Asset 2 (optional)
     * @param  string $rawAsset2Filename raw Asset 2 Filename (optional)
     * @param  \SplFileObject $rawAsset3 raw Asset 3 (optional)
     * @param  string $rawAsset3Filename raw Asset 3 Filename (optional)
     * @param  \SplFileObject $aptAsset apt Asset (optional)
     * @param  string $maven2GroupId maven2 Group ID (optional)
     * @param  string $maven2ArtifactId maven2 Artifact ID (optional)
     * @param  string $maven2Version maven2 Version (optional)
     * @param  bool $maven2GeneratePom maven2 Generate a POM file with these coordinates (optional)
     * @param  string $maven2Packaging maven2 Packaging (optional)
     * @param  \SplFileObject $maven2Asset1 maven2 Asset 1 (optional)
     * @param  string $maven2Asset1Classifier maven2 Asset 1 Classifier (optional)
     * @param  string $maven2Asset1Extension maven2 Asset 1 Extension (optional)
     * @param  \SplFileObject $maven2Asset2 maven2 Asset 2 (optional)
     * @param  string $maven2Asset2Classifier maven2 Asset 2 Classifier (optional)
     * @param  string $maven2Asset2Extension maven2 Asset 2 Extension (optional)
     * @param  \SplFileObject $maven2Asset3 maven2 Asset 3 (optional)
     * @param  string $maven2Asset3Classifier maven2 Asset 3 Classifier (optional)
     * @param  string $maven2Asset3Extension maven2 Asset 3 Extension (optional)
     *
     * @throws \Optimacros\NexusPhpApi\ApiException on non-2xx response
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function uploadComponentWithHttpInfo($repository, $rAsset = null, $rAssetPathId = null, $pypiAsset = null, $helmAsset = null, $yumDirectory = null, $yumAsset = null, $yumAssetFilename = null, $dockerAsset = null, $rubygemsAsset = null, $nugetAsset = null, $npmAsset = null, $rawDirectory = null, $rawAsset1 = null, $rawAsset1Filename = null, $rawAsset2 = null, $rawAsset2Filename = null, $rawAsset3 = null, $rawAsset3Filename = null, $aptAsset = null, $maven2GroupId = null, $maven2ArtifactId = null, $maven2Version = null, $maven2GeneratePom = null, $maven2Packaging = null, $maven2Asset1 = null, $maven2Asset1Classifier = null, $maven2Asset1Extension = null, $maven2Asset2 = null, $maven2Asset2Classifier = null, $maven2Asset2Extension = null, $maven2Asset3 = null, $maven2Asset3Classifier = null, $maven2Asset3Extension = null)
    {
        $returnType = '';
        $request = $this->uploadComponentRequest($repository, $rAsset, $rAssetPathId, $pypiAsset, $helmAsset, $yumDirectory, $yumAsset, $yumAssetFilename, $dockerAsset, $rubygemsAsset, $nugetAsset, $npmAsset, $rawDirectory, $rawAsset1, $rawAsset1Filename, $rawAsset2, $rawAsset2Filename, $rawAsset3, $rawAsset3Filename, $aptAsset, $maven2GroupId, $maven2ArtifactId, $maven2Version, $maven2GeneratePom, $maven2Packaging, $maven2Asset1, $maven2Asset1Classifier, $maven2Asset1Extension, $maven2Asset2, $maven2Asset2Classifier, $maven2Asset2Extension, $maven2Asset3, $maven2Asset3Classifier, $maven2Asset3Extension);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? $e->getResponse()->getBody()->getContents() : null
                );
            }

            $statusCode = $response->getStatusCode();

            if ($statusCode < 200 || $statusCode > 299) {
                throw new ApiException(
                    sprintf(
                        '[%d] Error connecting to the API (%s)',
                        $statusCode,
                        $request->getUri()
                    ),
                    $statusCode,
                    $response->getHeaders(),
                    $response->getBody()
                );
            }

            return [null, $statusCode, $response->getHeaders()];

        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
            throw $e;
        }
    }

    /**
     * Operation uploadComponentAsync
     *
     * Upload a single component
     *
     * @param  string $repository Name of the repository to which you would like to upload the component (required)
     * @param  \SplFileObject $rAsset r Asset (optional)
     * @param  string $rAssetPathId r Asset  Package Path (optional)
     * @param  \SplFileObject $pypiAsset pypi Asset (optional)
     * @param  \SplFileObject $helmAsset helm Asset (optional)
     * @param  string $yumDirectory yum Directory (optional)
     * @param  \SplFileObject $yumAsset yum Asset (optional)
     * @param  string $yumAssetFilename yum Asset  Filename (optional)
     * @param  \SplFileObject $dockerAsset docker Asset (optional)
     * @param  \SplFileObject $rubygemsAsset rubygems Asset (optional)
     * @param  \SplFileObject $nugetAsset nuget Asset (optional)
     * @param  \SplFileObject $npmAsset npm Asset (optional)
     * @param  string $rawDirectory raw Directory (optional)
     * @param  \SplFileObject $rawAsset1 raw Asset 1 (optional)
     * @param  string $rawAsset1Filename raw Asset 1 Filename (optional)
     * @param  \SplFileObject $rawAsset2 raw Asset 2 (optional)
     * @param  string $rawAsset2Filename raw Asset 2 Filename (optional)
     * @param  \SplFileObject $rawAsset3 raw Asset 3 (optional)
     * @param  string $rawAsset3Filename raw Asset 3 Filename (optional)
     * @param  \SplFileObject $aptAsset apt Asset (optional)
     * @param  string $maven2GroupId maven2 Group ID (optional)
     * @param  string $maven2ArtifactId maven2 Artifact ID (optional)
     * @param  string $maven2Version maven2 Version (optional)
     * @param  bool $maven2GeneratePom maven2 Generate a POM file with these coordinates (optional)
     * @param  string $maven2Packaging maven2 Packaging (optional)
     * @param  \SplFileObject $maven2Asset1 maven2 Asset 1 (optional)
     * @param  string $maven2Asset1Classifier maven2 Asset 1 Classifier (optional)
     * @param  string $maven2Asset1Extension maven2 Asset 1 Extension (optional)
     * @param  \SplFileObject $maven2Asset2 maven2 Asset 2 (optional)
     * @param  string $maven2Asset2Classifier maven2 Asset 2 Classifier (optional)
     * @param  string $maven2Asset2Extension maven2 Asset 2 Extension (optional)
     * @param  \SplFileObject $maven2Asset3 maven2 Asset 3 (optional)
     * @param  string $maven2Asset3Classifier maven2 Asset 3 Classifier (optional)
     * @param  string $maven2Asset3Extension maven2 Asset 3 Extension (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function uploadComponentAsync($repository, $rAsset = null, $rAssetPathId = null, $pypiAsset = null, $helmAsset = null, $yumDirectory = null, $yumAsset = null, $yumAssetFilename = null, $dockerAsset = null, $rubygemsAsset = null, $nugetAsset = null, $npmAsset = null, $rawDirectory = null, $rawAsset1 = null, $rawAsset1Filename = null, $rawAsset2 = null, $rawAsset2Filename = null, $rawAsset3 = null, $rawAsset3Filename = null, $aptAsset = null, $maven2GroupId = null, $maven2ArtifactId = null, $maven2Version = null, $maven2GeneratePom = null, $maven2Packaging = null, $maven2Asset1 = null, $maven2Asset1Classifier = null, $maven2Asset1Extension = null, $maven2Asset2 = null, $maven2Asset2Classifier = null, $maven2Asset2Extension = null, $maven2Asset3 = null, $maven2Asset3Classifier = null, $maven2Asset3Extension = null)
    {
        return $this->uploadComponentAsyncWithHttpInfo($repository, $rAsset, $rAssetPathId, $pypiAsset, $helmAsset, $yumDirectory, $yumAsset, $yumAssetFilename, $dockerAsset, $rubygemsAsset, $nugetAsset, $npmAsset, $rawDirectory, $rawAsset1, $rawAsset1Filename, $rawAsset2, $rawAsset2Filename, $rawAsset3, $rawAsset3Filename, $aptAsset, $maven2GroupId, $maven2ArtifactId, $maven2Version, $maven2GeneratePom, $maven2Packaging, $maven2Asset1, $maven2Asset1Classifier, $maven2Asset1Extension, $maven2Asset2, $maven2Asset2Classifier, $maven2Asset2Extension, $maven2Asset3, $maven2Asset3Classifier, $maven2Asset3Extension)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation uploadComponentAsyncWithHttpInfo
     *
     * Upload a single component
     *
     * @param  string $repository Name of the repository to which you would like to upload the component (required)
     * @param  \SplFileObject $rAsset r Asset (optional)
     * @param  string $rAssetPathId r Asset  Package Path (optional)
     * @param  \SplFileObject $pypiAsset pypi Asset (optional)
     * @param  \SplFileObject $helmAsset helm Asset (optional)
     * @param  string $yumDirectory yum Directory (optional)
     * @param  \SplFileObject $yumAsset yum Asset (optional)
     * @param  string $yumAssetFilename yum Asset  Filename (optional)
     * @param  \SplFileObject $dockerAsset docker Asset (optional)
     * @param  \SplFileObject $rubygemsAsset rubygems Asset (optional)
     * @param  \SplFileObject $nugetAsset nuget Asset (optional)
     * @param  \SplFileObject $npmAsset npm Asset (optional)
     * @param  string $rawDirectory raw Directory (optional)
     * @param  \SplFileObject $rawAsset1 raw Asset 1 (optional)
     * @param  string $rawAsset1Filename raw Asset 1 Filename (optional)
     * @param  \SplFileObject $rawAsset2 raw Asset 2 (optional)
     * @param  string $rawAsset2Filename raw Asset 2 Filename (optional)
     * @param  \SplFileObject $rawAsset3 raw Asset 3 (optional)
     * @param  string $rawAsset3Filename raw Asset 3 Filename (optional)
     * @param  \SplFileObject $aptAsset apt Asset (optional)
     * @param  string $maven2GroupId maven2 Group ID (optional)
     * @param  string $maven2ArtifactId maven2 Artifact ID (optional)
     * @param  string $maven2Version maven2 Version (optional)
     * @param  bool $maven2GeneratePom maven2 Generate a POM file with these coordinates (optional)
     * @param  string $maven2Packaging maven2 Packaging (optional)
     * @param  \SplFileObject $maven2Asset1 maven2 Asset 1 (optional)
     * @param  string $maven2Asset1Classifier maven2 Asset 1 Classifier (optional)
     * @param  string $maven2Asset1Extension maven2 Asset 1 Extension (optional)
     * @param  \SplFileObject $maven2Asset2 maven2 Asset 2 (optional)
     * @param  string $maven2Asset2Classifier maven2 Asset 2 Classifier (optional)
     * @param  string $maven2Asset2Extension maven2 Asset 2 Extension (optional)
     * @param  \SplFileObject $maven2Asset3 maven2 Asset 3 (optional)
     * @param  string $maven2Asset3Classifier maven2 Asset 3 Classifier (optional)
     * @param  string $maven2Asset3Extension maven2 Asset 3 Extension (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function uploadComponentAsyncWithHttpInfo($repository, $rAsset = null, $rAssetPathId = null, $pypiAsset = null, $helmAsset = null, $yumDirectory = null, $yumAsset = null, $yumAssetFilename = null, $dockerAsset = null, $rubygemsAsset = null, $nugetAsset = null, $npmAsset = null, $rawDirectory = null, $rawAsset1 = null, $rawAsset1Filename = null, $rawAsset2 = null, $rawAsset2Filename = null, $rawAsset3 = null, $rawAsset3Filename = null, $aptAsset = null, $maven2GroupId = null, $maven2ArtifactId = null, $maven2Version = null, $maven2GeneratePom = null, $maven2Packaging = null, $maven2Asset1 = null, $maven2Asset1Classifier = null, $maven2Asset1Extension = null, $maven2Asset2 = null, $maven2Asset2Classifier = null, $maven2Asset2Extension = null, $maven2Asset3 = null, $maven2Asset3Classifier = null, $maven2Asset3Extension = null)
    {
        $returnType = '';
        $request = $this->uploadComponentRequest($repository, $rAsset, $rAssetPathId, $pypiAsset, $helmAsset, $yumDirectory, $yumAsset, $yumAssetFilename, $dockerAsset, $rubygemsAsset, $nugetAsset, $npmAsset, $rawDirectory, $rawAsset1, $rawAsset1Filename, $rawAsset2, $rawAsset2Filename, $rawAsset3, $rawAsset3Filename, $aptAsset, $maven2GroupId, $maven2ArtifactId, $maven2Version, $maven2GeneratePom, $maven2Packaging, $maven2Asset1, $maven2Asset1Classifier, $maven2Asset1Extension, $maven2Asset2, $maven2Asset2Classifier, $maven2Asset2Extension, $maven2Asset3, $maven2Asset3Classifier, $maven2Asset3Extension);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'uploadComponent'
     *
     * @param  string $repository Name of the repository to which you would like to upload the component (required)
     * @param  \SplFileObject $rAsset r Asset (optional)
     * @param  string $rAssetPathId r Asset  Package Path (optional)
     * @param  \SplFileObject $pypiAsset pypi Asset (optional)
     * @param  \SplFileObject $helmAsset helm Asset (optional)
     * @param  string $yumDirectory yum Directory (optional)
     * @param  \SplFileObject $yumAsset yum Asset (optional)
     * @param  string $yumAssetFilename yum Asset  Filename (optional)
     * @param  \SplFileObject $dockerAsset docker Asset (optional)
     * @param  \SplFileObject $rubygemsAsset rubygems Asset (optional)
     * @param  \SplFileObject $nugetAsset nuget Asset (optional)
     * @param  \SplFileObject $npmAsset npm Asset (optional)
     * @param  string $rawDirectory raw Directory (optional)
     * @param  \SplFileObject $rawAsset1 raw Asset 1 (optional)
     * @param  string $rawAsset1Filename raw Asset 1 Filename (optional)
     * @param  \SplFileObject $rawAsset2 raw Asset 2 (optional)
     * @param  string $rawAsset2Filename raw Asset 2 Filename (optional)
     * @param  \SplFileObject $rawAsset3 raw Asset 3 (optional)
     * @param  string $rawAsset3Filename raw Asset 3 Filename (optional)
     * @param  \SplFileObject $aptAsset apt Asset (optional)
     * @param  string $maven2GroupId maven2 Group ID (optional)
     * @param  string $maven2ArtifactId maven2 Artifact ID (optional)
     * @param  string $maven2Version maven2 Version (optional)
     * @param  bool $maven2GeneratePom maven2 Generate a POM file with these coordinates (optional)
     * @param  string $maven2Packaging maven2 Packaging (optional)
     * @param  \SplFileObject $maven2Asset1 maven2 Asset 1 (optional)
     * @param  string $maven2Asset1Classifier maven2 Asset 1 Classifier (optional)
     * @param  string $maven2Asset1Extension maven2 Asset 1 Extension (optional)
     * @param  \SplFileObject $maven2Asset2 maven2 Asset 2 (optional)
     * @param  string $maven2Asset2Classifier maven2 Asset 2 Classifier (optional)
     * @param  string $maven2Asset2Extension maven2 Asset 2 Extension (optional)
     * @param  \SplFileObject $maven2Asset3 maven2 Asset 3 (optional)
     * @param  string $maven2Asset3Classifier maven2 Asset 3 Classifier (optional)
     * @param  string $maven2Asset3Extension maven2 Asset 3 Extension (optional)
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    protected function uploadComponentRequest($repository, $rAsset = null, $rAssetPathId = null, $pypiAsset = null, $helmAsset = null, $yumDirectory = null, $yumAsset = null, $yumAssetFilename = null, $dockerAsset = null, $rubygemsAsset = null, $nugetAsset = null, $npmAsset = null, $rawDirectory = null, $rawAsset1 = null, $rawAsset1Filename = null, $rawAsset2 = null, $rawAsset2Filename = null, $rawAsset3 = null, $rawAsset3Filename = null, $aptAsset = null, $maven2GroupId = null, $maven2ArtifactId = null, $maven2Version = null, $maven2GeneratePom = null, $maven2Packaging = null, $maven2Asset1 = null, $maven2Asset1Classifier = null, $maven2Asset1Extension = null, $maven2Asset2 = null, $maven2Asset2Classifier = null, $maven2Asset2Extension = null, $maven2Asset3 = null, $maven2Asset3Classifier = null, $maven2Asset3Extension = null)
    {
        // verify the required parameter 'repository' is set
        if ($repository === null || (is_array($repository) && count($repository) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $repository when calling uploadComponent'
            );
        }

        $resourcePath = '/v1/components';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;

        // query params
        if ($repository !== null) {
            $queryParams['repository'] = ObjectSerializer::toQueryValue($repository);
        }


        // form params
        if ($rAsset !== null) {
            $multipart = true;
            $formParams['r.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($rAsset), 'rb');
        }
        // form params
        if ($rAssetPathId !== null) {
            $formParams['r.asset.pathId'] = ObjectSerializer::toFormValue($rAssetPathId);
        }
        // form params
        if ($pypiAsset !== null) {
            $multipart = true;
            $formParams['pypi.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($pypiAsset), 'rb');
        }
        // form params
        if ($helmAsset !== null) {
            $multipart = true;
            $formParams['helm.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($helmAsset), 'rb');
        }
        // form params
        if ($yumDirectory !== null) {
            $formParams['yum.directory'] = ObjectSerializer::toFormValue($yumDirectory);
        }
        // form params
        if ($yumAsset !== null) {
            $multipart = true;
            $formParams['yum.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($yumAsset), 'rb');
        }
        // form params
        if ($yumAssetFilename !== null) {
            $formParams['yum.asset.filename'] = ObjectSerializer::toFormValue($yumAssetFilename);
        }
        // form params
        if ($dockerAsset !== null) {
            $multipart = true;
            $formParams['docker.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($dockerAsset), 'rb');
        }
        // form params
        if ($rubygemsAsset !== null) {
            $multipart = true;
            $formParams['rubygems.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($rubygemsAsset), 'rb');
        }
        // form params
        if ($nugetAsset !== null) {
            $multipart = true;
            $formParams['nuget.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($nugetAsset), 'rb');
        }
        // form params
        if ($npmAsset !== null) {
            $multipart = true;
            $formParams['npm.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($npmAsset), 'rb');
        }
        // form params
        if ($rawDirectory !== null) {
            $formParams['raw.directory'] = ObjectSerializer::toFormValue($rawDirectory);
        }
        // form params
        if ($rawAsset1 !== null) {
            $multipart = true;
            $formParams['raw.asset1'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($rawAsset1), 'rb');
        }
        // form params
        if ($rawAsset1Filename !== null) {
            $formParams['raw.asset1.filename'] = ObjectSerializer::toFormValue($rawAsset1Filename);
        }
        // form params
        if ($rawAsset2 !== null) {
            $multipart = true;
            $formParams['raw.asset2'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($rawAsset2), 'rb');
        }
        // form params
        if ($rawAsset2Filename !== null) {
            $formParams['raw.asset2.filename'] = ObjectSerializer::toFormValue($rawAsset2Filename);
        }
        // form params
        if ($rawAsset3 !== null) {
            $multipart = true;
            $formParams['raw.asset3'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($rawAsset3), 'rb');
        }
        // form params
        if ($rawAsset3Filename !== null) {
            $formParams['raw.asset3.filename'] = ObjectSerializer::toFormValue($rawAsset3Filename);
        }
        // form params
        if ($aptAsset !== null) {
            $multipart = true;
            $formParams['apt.asset'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($aptAsset), 'rb');
        }
        // form params
        if ($maven2GroupId !== null) {
            $formParams['maven2.groupId'] = ObjectSerializer::toFormValue($maven2GroupId);
        }
        // form params
        if ($maven2ArtifactId !== null) {
            $formParams['maven2.artifactId'] = ObjectSerializer::toFormValue($maven2ArtifactId);
        }
        // form params
        if ($maven2Version !== null) {
            $formParams['maven2.version'] = ObjectSerializer::toFormValue($maven2Version);
        }
        // form params
        if ($maven2GeneratePom !== null) {
            $formParams['maven2.generate-pom'] = ObjectSerializer::toFormValue($maven2GeneratePom);
        }
        // form params
        if ($maven2Packaging !== null) {
            $formParams['maven2.packaging'] = ObjectSerializer::toFormValue($maven2Packaging);
        }
        // form params
        if ($maven2Asset1 !== null) {
            $multipart = true;
            $formParams['maven2.asset1'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($maven2Asset1), 'rb');
        }
        // form params
        if ($maven2Asset1Classifier !== null) {
            $formParams['maven2.asset1.classifier'] = ObjectSerializer::toFormValue($maven2Asset1Classifier);
        }
        // form params
        if ($maven2Asset1Extension !== null) {
            $formParams['maven2.asset1.extension'] = ObjectSerializer::toFormValue($maven2Asset1Extension);
        }
        // form params
        if ($maven2Asset2 !== null) {
            $multipart = true;
            $formParams['maven2.asset2'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($maven2Asset2), 'rb');
        }
        // form params
        if ($maven2Asset2Classifier !== null) {
            $formParams['maven2.asset2.classifier'] = ObjectSerializer::toFormValue($maven2Asset2Classifier);
        }
        // form params
        if ($maven2Asset2Extension !== null) {
            $formParams['maven2.asset2.extension'] = ObjectSerializer::toFormValue($maven2Asset2Extension);
        }
        // form params
        if ($maven2Asset3 !== null) {
            $multipart = true;
            $formParams['maven2.asset3'] = \GuzzleHttp\Psr7\try_fopen(ObjectSerializer::toFormValue($maven2Asset3), 'rb');
        }
        // form params
        if ($maven2Asset3Classifier !== null) {
            $formParams['maven2.asset3.classifier'] = ObjectSerializer::toFormValue($maven2Asset3Classifier);
        }
        // form params
        if ($maven2Asset3Extension !== null) {
            $formParams['maven2.asset3.extension'] = ObjectSerializer::toFormValue($maven2Asset3Extension);
        }
        // body params
        $_tempBody = null;

        if ($multipart) {
            $headers = $this->headerSelector->selectHeadersForMultipart(
                ['application/json']
            );
        } else {
            $headers = $this->headerSelector->selectHeaders(
                ['application/json'],
                ['multipart/form-data']
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            // $_tempBody is the method argument, if present
            $httpBody = $_tempBody;
            
            if($headers['Content-Type'] === 'application/json') {
                // \stdClass has no __toString(), so we should encode it manually
                if ($httpBody instanceof \stdClass) {
                    $httpBody = \GuzzleHttp\json_encode($httpBody);
                }
                // array has no __toString(), so we should encode it manually
                if(is_array($httpBody)) {
                    $httpBody = \GuzzleHttp\json_encode(ObjectSerializer::sanitizeForSerialization($httpBody));
                }
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $multipartContents[] = [
                        'name' => $formParamName,
                        'contents' => $formParamValue
                    ];
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif ($headers['Content-Type'] === 'application/json') {
                $httpBody = \GuzzleHttp\json_encode($formParams);

            } else {
                // for HTTP post (form)
                $httpBody = \GuzzleHttp\Psr7\Query::build($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $query = \GuzzleHttp\Psr7\Query::build($queryParams);
        return new Request(
            'POST',
            $this->config->getHost() . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        return $options;
    }
}
